/* GLOBAL */
html, body {
	margin: 0;
	padding: 0;
	font-family: 'Assistant', sans-serif;
    font-family: 'Lora', serif;
}
/* HEADER */
header{
	background-color: #5ec5ac;
}
nav > ul {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	margin: 0;
	height: 3em;
	line-height: 3em;
}
nav > ul > li {
	list-style-type: none;
	margin-right: 2rem;
}
nav > ul > li:first-child {
	font-size: 1.5rem;
}
nav > ul > li > i {
	color: black;
	text-align: center;
}
a {
	color: black;
	text-decoration: none;
	color: white;
}

/* Home page */

.hero {
	display: flex;
	background-color: rgb(219, 210, 210);
	flex-direction: column;
	margin: 2rem;
	border-radius: 1.5rem;
	padding-left: 2rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	align-items: center;
}
hr {
	width: 95%;
	background: rgb(211, 198, 198);
}
h2 {
	color: grey;
	font-weight: bold;
}
.content {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}
table, th, td {
	border:  1px solid grey;
	border-collapse: collapse;
	padding: 1.5rem;
}
th {
	background-color: #5ec5ac;
}
tr.shaded {
	background-color: #f2f2f2;
}
.stratedAt {
	background-color: hotpink;
	border-radius: 0.75rem;
	padding: 0.4rem;
}
.Winner{
	background-color: #ff6f41;
	border-radius: 0.75rem;
	padding: 0.4rem;
}
.registeredPlayers {
	background-color: #5ec5ac;
	border-radius: 0.75rem;
	padding: 0.4rem;
}
.edit {
	background-color: #ffcd4f;
	border-radius: 0.75rem;
	padding: 0.4rem;
	color: black !important;
}
.matchs_section {
	padding-bottom: 3rem;
}

/* Formulaires */ 

.ajout-jeux , .ajout-joueurs, .ajout-matchs {
	display: flex;
	flex-direction: column;
	padding: 3rem;
}
.ajout-jeux h1, .ajout-joueurs h1, .ajout-matchs h1{
	color: grey;
	font-size: 2rem;
}
.ajout-jeux form, .ajout-joueurs form, .ajout-matchs form {
	display: flex;
	flex-direction: column;
	width: 70%;
}

input[type=text], input[type=number], input[type=date], input[type=email], select{
	padding: 1rem;
	margin: 1rem 0;
	box-sizing: border-box;
}

input[type=submit] {
	padding: 1rem;
	margin: 2rem 0;
	align-self: center;
}
/* Update Match*/
.single_match {
	display: flex;
	justify-content: center;
	gap: 2em;
}
.RegisterJoueur, .joueurs_section, .game_section{
	padding: 2em;
}
.form_register_player {
	display: flex;
	flex-direction: column;
	width: 70%;
}
.infos {
	display: flex;
	justify-content: center;
	padding: 2em;
}
.infos {
	display: flex;
	flex-direction: column;
	width: 70%;
}
.declare_winner {
	display: flex;
	flex-direction: column;
}
.trash {
	color: black !important;
}